body {
  text-align: center;
  margin: 0;
  background-color: #F2EBE9;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: #243A73;
  text-align: auto;
}

h2 {

  font-size: 2rem;
  color: #243A73;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  text-align: left;
  margin-left: 200px;
  margin-top: 30px;
}

h5 {
  color: #B73E3E;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;

}

p {
  line-height: 2;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
}

.container-fluid{
  padding: 3% 5% 5%;
}

/* Section title */
.top-container {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  color: #B73E3E;
  font-family: 'Kalam', cursive;
  font-size: 80px;
}

.navbar-link {
  color: #243A73;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  padding: 0 15px;
}

.nav-item {
  padding: 0 18px;
}

/* Title Text */
.title-text{
  padding-left: 50px;
}
.top-heading {
  margin-top: 50px;
  text-align: justify;
}
.bottom-heading{
  margin-bottom: 50px;
  text-align: justify;
}
.search {
  width: 400px;
  height: 30px;
  padding-bottom: 300px;
}

.user {
  border-radius: 100%;
}

.user-toggle {
  padding: 40px;
  position: relative;
  left: 150px;
}

.top-box{
  background-color: #B73E3E ;
  height: 650px;
  width: 300px;
  position: absolute;
  top: 0px;
  right: 0;
  z-index: -1;
}
.carousel{
  position: absolute;
}
.title-leaf {
  position: absolute;
  width: 250px;
  height: 200px;
  right: 230px;
  top: 150px;
  z-index: 1;
}

.title-image {
  position: absolute;
  right: 70px;
  top: 180px;
  z-index: 1;
  width: 400px;
}


/* Services Section */
.services{
  padding-top: 50px;
  padding-bottom: 70px;
}
.second-box{
  background-color: #B73E3E;
  position: absolute;
  left: 140px;
  height: 180px;
  width: 50px;
}

.sub-text{
  margin-top: 30px;
  text-align: left;
}

/* Features */
.features{
  background-color: #D0B8A8;
}
.card{
  background-color: #F2EBE9;
}
.card-img-top{
  height: 200px;
  width: 190px;
}

/* Download Section */
.download-heading{
  margin-top: 0;
}
.download-text{
  margin-top: 30px;
  margin-left: 200px;
  text-align: left;
}
.third-box{
  background-color: #B73E3E;
  position: absolute;
  left: 140px;
  height: 250px;
  width: 50px;
}
.phone{

  position: relative;
  left: 300px;
  bottom: 270px;
  z-index: 1;
  width: 200px;
  height: 350px;

}
.download-button{
  margin: 3% 5% 3% 0;
  padding: 0;
}
.button-left{
  margin-left: 120px;
  height: 50px;
  width: 100px;
}
.button-right{
  height: 35px;
  width: 100px;

}
